.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  button {
    border-radius: 50%;
    cursor: pointer;
    border: 6px solid;
    border-color: rgba(0, 0, 0, 0.6);
    &:hover {
      border-color: rgba(0, 0, 0, 0.3);
    }
  }
  button + button {
    margin-inline-start: 1rem;
  }
  padding: 0.5rem;
}

.active {
  border-color: var(--color-white) !important;
}

.header {
  padding-bottom: 2rem;
  text-align: center;
  align-self: center;
}

.container {
  display: grid;
  grid-template: auto / auto;
  min-width: 80%;
  justify-items: center;
  min-height: calc(100vh - 92px);
}
.content {
  min-width: 320px;
  text-align: center;
  padding: 24px;
  .crew_h2 {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
  }
}
.image {
  display: flex;
  margin: 0px 24px;
  justify-content: center;
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  img {
    max-width: 50%;
  }
}

.color_white {
  text-transform: uppercase;
  color: var(--color-white);
  span {
    opacity: 0.25;
    font-weight: bold;
  }
}

.role {
  opacity: 0.5;
}

@media screen and (min-width: 48em) {
  .header {
    justify-self: start;
    padding-inline-start: 2rem;
  }
  .container {
    min-height: calc(100vh - 96px);
  }

  .image {
    order: 1;
    border-bottom: unset;
    img {
      max-width: 85%;
    }
  }

  .links {
    margin-top: 1rem;
  }

  .content {
    max-width: 590px;
    display: flex;
    flex-direction: column-reverse;
    padding: unset;
    .crew_h2 {
      margin: 1.5rem 0rem;
    }
  }
}

@media screen and (min-width: 64em) {
  .container {
    grid-template: auto / 1fr 1fr;
    justify-content: space-around;
    min-height: calc(100vh - 136px);
  }
  .content {
    max-width: 614px;
    text-align: justify;
    align-items: self-start;
    justify-content: space-around;
    height: 100%;
    p {
      max-width: 444px;
    }
    grid-column: 1/2;
  }
  .color_white {
    text-align: justify;
  }
  .header {
    min-width: 614px;
    justify-self: center;
    align-self: center;
    padding-inline-start: 4rem;
  }
  .image {
    grid-column: 2/3;
    grid-row: 1/3;
    img {
      max-width: 100%;
    }
  }
  .links {
    justify-content: flex-start;
    button::after {
      width: 15px;
      height: 15px;
    }
  }
}
