@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
:root {
  /* color */
  --color-dark: #0b0d17;
  --color-blue: #d0d6f9;
  --color-white: #ffffff;

  /* font-size */
  --fs-sm-heading-1: 5rem;
  --fs-sm-heading-2: 3.5rem;
  --fs-sm-heading-3: 1.5rem;
  --fs-sm-heading-4: 1rem;
  --fs-sm-heading-5: 1rem;
  --fs-sm-subheading-1: 1.75rem;
  --fs-sm-subheading-2: 0.875rem;
  --fs-sm-nav-text: 0.875rem;
  --fs-sm-nav-menu-text: 1rem;
  --fs-sm-body-text: 0.9375rem;

  /* line-height */
  --lh-sm-heading-1: 6.25rem;
  --lh-sm-body-text: 1.5625rem;
}
/* 768 px */
@media screen and (min-width: 48em) {
  :root {
    --fs-sm-heading-1: 9.375rem;
    --fs-sm-heading-2: 5rem;
    --fs-sm-heading-3: 2.5rem;
    --fs-sm-heading-4: 1.5rem;
    --fs-sm-heading-5: 1.25rem;
    --fs-sm-nav-menu-text: 0.875rem;
    --fs-sm-body-text: 1rem;
    --lh-sm-heading-1: 9.375rem;
    --lh-sm-body-text: 1.75rem;
  }
}
/*1024 px */
@media screen and (min-width: 64em) {
  :root {
    --fs-sm-heading-2: 6.25rem;
    --fs-sm-heading-3: 3.5rem;
    --fs-sm-heading-4: 2rem;
    --fs-sm-heading-5: 1.75rem;
    --fs-sm-nav-text: 1rem;
    --fs-sm-nav-menu-text: 1rem;
    --fs-sm-body-text: 1.125rem;
    --lh-sm-heading-1: unset;
    --lh-sm-body-text: 2rem;
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* heading 1 */
.bellefair-heading-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-sm-heading-1);
  line-height: var(--lh-sm-heading-1);
  color: var(--color-white);
}
/* heading 2 */
.bellefair-heading-2 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-sm-heading-2);
  color: var(--color-white);
}
/* heading 3 */
.bellefair-heading-3 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-sm-heading-3);
}
/* heading 4 */
.bellefair-heading-4 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-sm-heading-4);
}
/* heading 5 */
.bellefair-heading-5 {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 4.75px;
  font-size: var(--fs-sm-heading-5);
  color: var(--color-blue);
}
/* subheading 1 */
.bellefair-subheading-1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-sm-subheading-1);
  color: var(--color-white);
}
/* subheading 2 */
.bellefair-subheading-2 {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.35px;
  font-size: var(--fs-sm-subheading-2);
  color: var(--color-blue);
}
/* nav text */
.bellefair-nav-text {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.7px;
  font-size: var(--fs-sm-nav-text);
  color: var(--color-blue);
}
/* menu text */
.bellefair-nav-menu-text {
  font-family: "Barlow Condensed", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 2.7px;
  font-size: var(--fs-sm-nav-menu-text);
  color: var(--color-white);
}
/* body text */
.bellefair-body-text {
  font-family: "Barlow", serif;
  font-weight: 400;
  font-style: normal;
  line-height: var(--lh-sm-body-text);
  font-size: var(--fs-sm-body-text);
  color: var(--color-blue);
}
